<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>View Bulk Warranty Claim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <ion-segment
        [(ngModel)]="selectedSegment"
        scrollable="true"
        class="disable-scrollbars"
      >
        <ion-segment-button value="0">
          <ion-label>Details</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>Service Invoice</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>
  </ion-card>
  <div [ngSwitch]="selectedSegment">
    <bulk-claim-details *ngSwitchCase="0"> </bulk-claim-details>
    <bulk-service-invoices *ngSwitchCase="1"></bulk-service-invoices>
  </div>
</ion-content>
